footer 
    .footer_content 
        .footer_content_icons 
            a(href="#") 
                img(src="../assets/whatsapp-02.png", alt="Logo Whatsapp")
            a(href="#") 
                img(src="../assets/mail-02.png", alt="Icono Correo Electronico")
            a(href="#") 
                img(src="../assets/instagram-02.png", alt="Logo Instagram")
            a(href="#") 
                img(src="../assets/facebook-02.png", alt="Logo Facebook")
        .footer_content_menu 
            ul 
                li 
                    a(href="#") Contacto
                li
                    a(href="#") Productos
                li
                    a(href="#") Servicios Adicionales
                li
                    a(href="#") Promociones y Descuentos
    .footer_bottom 
        p Farmacia Mundial - Todos los derechos reservados.