header 
    nav.navbar 
        a(href="#")
            img.navbar_logo(src="../../assets/logos1.png", alt="Logo Farmacia Mundial")
        ul.navbar_bar 
            li.navbar_nav--link
                a(href="#") INICIO
            li.navbar_nav--link
                a(href="#") PRODUCTOS
            li.navbar_nav--link
                a(href="#") SERVICIOS ADICIONALES
            li.navbar_nav--link
                a(href="#") PROMOCIONES Y DESCUENTOS
            li.navbar_nav--link
                a(href="#") CONTACTO
        button.navbar_button(type="button", aria-label="Menu")