section.hero 
    .hero_principal 
        .hero_principal_izq 
            h1.hero_principal_izq--title Farmacia Mundial
            h2.hero_principal_izq--desc Donde Todo es Más Barato..!
            .hero_principal_izq--img
                img(src="../../assets/Foto-Fachada.png", alt="Foto de Sucursal de Farmacia Mundial")
            a(href="#").hero_principal_izq--button Contactanos
        .hero_principal_der
            img(src="../../assets/farmaceutica.png", alt="Imagen de una chica farmaceutica mostrando unos medicamentos.")
    .hero_secondary
        h3.hero_secondary--title ¿Porqué Elegirnos?
        p.hero_secondary-content Nuestra farmacia es una institución confiable y de larga trayectoria en la ciudad de Valledupar. Desde hace varios años, nos hemos dedicado a brindar un servicio integral de salud a nuestra comunidad, ofreciendo una amplia gama de medicamentos, productos de cuidado personal y atención farmacéutica de calidad.