$principal-blue: #08428C;
$secondary-blue: #446EA6;
$principal-red: #D9042B;
$secondary-red: #F24452;
$principal-white: #fff;
$secondary-white: #F2F2F2;

@mixin tituloSm {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
}

@mixin descSm {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
}

@mixin tituloMd {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-align: center;
}

@mixin descMd {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
}

@mixin tituloLg {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.7rem;
    text-align: left;
}

@mixin descLg {
    font-weight: 500px;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: left;
}

@mixin btnPrimary {
    display: inline-block;
    max-width: 150px;
    min-width: 150px;
    padding: 15px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    color: $principal-white;
    background: $secondary-red;
    border: 1px solid $principal-red;
    border-radius: 25px;
    text-decoration: none;
    transition: transform 0.3s ease-out;

    &:hover {
        transform: translateY(5px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}