.main {
    position: relative;
    width: 100%;
    padding: 35px 25px;
    background: linear-gradient(90deg, #08428C 8%, #446EA6 92.93%);
    border-bottom: 1px solid #F2F2F2;

    &_contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_contenido--title {
        @include tituloSm;
        color: $principal-white;
        margin-bottom: 200px;
    }

    &_contenido--desc {
        @include descSm;
        color: $principal-white;
        margin-bottom: 35px;
    }

    &_contenido--button {
        @include btnPrimary;
    }

    &_contenido_image {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 85px;
        left: calc(50% - 75px);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #F2F2F2;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    }

    &_contenido_image img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        object-position: -71px;
    }
}

.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 20px;

    &_title {
        @include tituloSm;
        color: $principal-blue;
        margin-bottom: 10px;
    }

    &_img {
        width: 168px;
        height: 168px;
        margin-bottom: 10px;
        background-image: url("../../assets/Discount.svg");
    }

    &_desc {
        @include descSm;
        color: $principal-blue;
        margin-bottom: 30px;
    }

    &_contenido--button {
        @include btnPrimary;
        background-color: $secondary-blue;
        border: 1px solid $principal-blue;
    }
}

@media only screen and (min-width: 744px) {
    .main {
        padding: 30px 50px;

        &_contenido--title {
            @include tituloMd;
            margin-bottom: 310px;
        }

        &_contenido--desc {
            @include descMd;
            margin-bottom: 30px;
        }

        &_contenido_image {
            width: 250px;
            height: 250px;
            top: 92px;
            left: calc(50% - 125px);
            border-radius: 30px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &_contenido_image img {
            width: 210px;
            height: 210px;
            border-radius: 20px;
            object-position: -120px;
        }
    }   

    .main2 {
        padding: 30px 50px;

        &_title {
            @include tituloMd;
            margin-bottom: 30px;
        }

        &_img {
            height: 250px;
            width: 250px;
            margin-bottom: 30px;
            background-size: cover;
        }

        &_desc {
            @include descMd;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        padding: 45px 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &_contenido {
            align-items: flex-start;
        }

        &_contenido--title {
            text-align: left;
            margin-bottom: 30px;
        }

        &_contenido--desc {
            text-align: left;
            max-width: 800px;
            margin-bottom: 40px;
        }

        &_contenido_image {
            position: relative;
            top: 0;
            left: 0;
            margin-left: 25px;
            min-width: 350px;
            height: 250px;
        }

        &_contenido_image img {
            min-width: 310px;
            object-position: center;
        }
    }

    .main2 {
        padding-top: 40px;
        padding-bottom: 40px;

        &_title {
            @include tituloLg;
            margin-bottom: 40px;
        }

        &_img {
            margin-bottom: 40px;
        }

        &_desc {
            max-width: 800px;
            @include descLg;
            text-align: center;
            margin-bottom: 40px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .main {
        &_contenido--title {
            @include tituloLg;
        }

        &_contenido--desc {
            @include descLg;
        }
    }
    
}

@media only screen and (min-width: 1660px) {
    .main {
        padding: 45px 15%;
    }
}